<div class="row d-flex justify-content-center background-form" style= "background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/djuy4uxrd/image/upload/v1586167133/silhouette_voeyec.jpg')">
  <div class="col-md-6 col-sm-10 p-5">
    <div>
      <h1 style = "color:white ">Ajouter un produit </h1>
    </div>
    <%= render "form_new" %>
  </div>
</div>
