<div class="container">

<div class="row card-concept">
  <div class= "col-md-6 concept-content">
    <h2>Bienvenue sur Ômanette !</h2>
    <div class= "mt-5 text-justify">
      <p>Présentons-nous un petit peu...</p>
      <p>Ômanette, c'est d'abord un rêve de petite fille. Imaginer, créer les patrons, choisir les matières et tissus, essayer, peaufiner, essayer de nouveau : voilà un loisir pour lequel Ômanette ne compte plus les heures !</p>
      <p>Cette petite fille a ensuite grandi, est devenue femme, maman et grand-mère. Ômanette voit ainsi grandir en âge et en nombre ses mannequins personnels, son fan-club se développer et le bouche-à-oreille devenir de plus en plus rapide !</p>
      <p>Alors poussée par ses enfants et sa famille, Ômanette prend son courage à 2 mains, se lance dans une plus grande production de pièces et ose se rendre visible à travers Ômanette.com.</p>
      <p>Le maître-mot de Ômanette, c'est "pièce unique". Ômanette fonctionne par coup de cœur - un modèle, un tissu, un galon, un bouton… Ômanette fonctionne par essai aussi ! Lorsqu’elle tilte pour une idée, elle en déclinera le modèle selon toute une palette de matières, tailles et coloris : chaque pièce est unique par son tissu, ses finitions, ses détails. Pas une seule pièce identique à l'autre ! Et c'est ça qu'on aime chez Ômanette, créer chaque pièce de façon unique, et même si certains tissus ont été chinés en Belgique, en Inde ou en Italie, l’essentiel pour Ômanette est de continuer de créer et réaliser avec amour, passion et imagination des pièces qui ajoutent un peu de beau, de bon et de fait-main à notre monde…</p>
      <p>Après une belle trentaine d’années de vie passée dans le Nord, après 4 années de formation dans un atelier de création textile à Montmartre sous la houlette de la styliste Olivia Lopez, Ômanette a retrouvé sa région natale et familiale : toutes les pièces Ômanette sont dorénavant  conçues et cousues en Bretagne, dans son atelier.</p>
      <p>Ce site est là pour vous donner plus de détails sur les pièces Ômanette. Elles sont toutes prêtes à s'envoler vers de nouvelles aventures avec vous, votre maman, votre soeur, votre copine, alors n'hésitez pas à envoyer un petit message (via la rubrique "Contactez-moi !") si vous souhaitez craquer et procéder à l'achat. L'envoi se fait rapide et (très) soigné. Oui, Ômanette aime les choses bien faites.</p>
      <p>CD'ailleurs, ce site a été créé par une super team de 3 jeunes femmes : que soient chaleureusement remerciées Charlotte - développeuse du site, Emma – configuratrice et Philippine – designer et photographe.  Elles sont aussi compétentes que généreuses, joyeuses et charmantes….MERCI !!!</p>
      <p>Régulièrement, il y aura des nouveautés, des déclinaisons de produits dans de nouveaux tissus et quelques autres surprises... Alors n'hésitez pas à partager et nous suivre sur les réseaux !</p>
      <p>A très vite,</p>
      <p>Ômanette</p>
    </div>
  </div>

  <div class= "col-md-6 mt-5 concept-photo" >
  <%= image_tag "https://res.cloudinary.com/djuy4uxrd/image/upload/v1586443896/couture_zkkm8i.jpg"%>
  </div>

</div>
</div>
