<div class="container">

<div class="row card-concept">
  <div class= "col-6 concept-content">
    <h2>Le concept d'Ômanette</h2>
    <div class= "mt-5">
      <h3>Qui ?</h3>
      <p>blablablabla</p>
      <h3>Comment ?</h3>
      <p>conçu et cousu à la main</p>
      <h3>Où ?</h3>
      <p>En Bretagne</p>
      <h3>On discute ?</h3>
      <p>Rendez vous dans la page contact pour commander votre pièce unique</p>
    </div>
  </div>

  <div class= "col-6" class="concept-photo" >
  <%= image_tag "https://res.cloudinary.com/djuy4uxrd/image/upload/v1586443896/couture_zkkm8i.jpg"%>
  </div>

</div>

</div>
