<div class="container">

<div class="row card-concept">
  <div class= "col-md-6 concept-content">
    <h2>Bienvenue sur Ômanette !</h2>
    <div class= "mt-5">
      <p>Présentons-nous un petit peu...</p>
      <p>Ômanette, c'est d'abord un rêve de petite fille. Imaginer, créer les patrons, choisir les matières et tissus, essayer, peaufiner, essayer de nouveau : voilà un loisir pour lequel Ômanette ne compte plus les heures !</p>
      <p>Cette petite fille a ensuite grandi, est devenue femme, maman et grand-mère. Et voilà qu'à cumuler ses nouveaux statuts, Ômanette voit ses mannequins personnels de plus en plus nombreux, son fan-club de plus en plus conquis et le bouche-à-oreille de plus en plus rapide !</p>
      <p>Alors poussée pour ses enfants et sa famille, Ômanette prend son courage à 2 mains et se lance dans une plus grand production de pièces pour femmes.</p>
      <p>Le maître-mot de Ômanette, c'est "pièce unique". Ômanette a d'abord un coup de coeur pour un patron qu'elle déclinera ensuite dans des matières et tissus différents : chaque pièce sera unique par son tissu, ses finitions, ses détails. Pas une seule pièce identique à l'autre ! Et c'est ça qu'on aime chez Ômanette : des pièces uniques made in France, faits avec amour !</p>
      <p>Après de belles années de vie dans le Nord, Ômanette est retournée dans sa région natale et familiale : toutes les pièces Ômanette sont dorénavant conçues et cousues en Bretagne, dans son atelier.</p>
      <p>Ce site est là pour vous donner plus de détails sur les pièces Ômanette. Ils sont tous prêts à s'envoler vers de nouvelles aventures avec vous, votre maman, votre soeur, votre copine, alors n'hésitez pas à envoyer un petit message (via la rubrique "Contactez-moi !") si vous souhaitez craquer et procéder à l'achat. L'envoi se fait rapide et (très) soigné. Oui, Ômanette aime les choses bien faites.</p>
      <p>Régulièrement, il y aura des nouveautés, des déclinaisons de produits dans de nouveaux tissus et quelques autres surprise... Alors n'hésitez pas à partager et nous suivre sur les réseaux !</p>
      <p>A très vite,</p>
      <p>Ômanette et tout son amour !</p>
    </div>
  </div>

  <div class= "col-md-6" class="concept-photo" >
  <%= image_tag "https://res.cloudinary.com/djuy4uxrd/image/upload/v1586443896/couture_zkkm8i.jpg"%>
  </div>

</div>
</div>
