<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" action="" method="post">
      <fieldset>
      <h2 class="text-center">Contactez moi</h2>
       <!-- Name input-->
      <div class="form-group">
        <div class="col-md-9">
          <input id="name" name="name" type="text" placeholder="Nom" class="form-control">
        </div>
      </div>
      <!-- Prénom input-->
      <div class="form-group">
        <div class="col-md-9">
          <input id="prenom" name="prenom" type="text" placeholder="Prénom" class="form-control">
        </div>
      </div>
      <!-- Email input-->
      <div class="form-group">
        <div class="col-md-9">
          <input id="email" name="email" type="text" placeholder="E-mail" class="form-control">
        </div>
      </div>
      <!-- Message input-->
      <div class="form-group">
        <div class="col-md-9">
          <textarea class="form-control" id="message" name="message" placeholder="Saisis ton message..." rows="5"></textarea>
        </div>
      </div>
      <!-- Form actions -->
      <div class="form-group">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
        </div>
      </div>
    </fieldset>
  </div>
</div>
