<div class="container">
<div class="d-flex-column justify-content-center">
  <h1>Merci pour votre message !</h1>
  <p>Je vous réponds au plus vite </p>
<%= link_to "Retour", root_path, class: "btn btn-light"%>

</div>

</div>
