<div class = "row d-flex justify-content-center">
  <div class="col-8">
    <div id="contact">
      <div>
        <h1>Contact</h1>
      </div>
      <%= render 'contact_form' %>
    </div>
  </div>
</div>
