<div class="container">

<div class="row card-contact">
  <div class= "col-md-6">
      <div class="mb-3 justify-content-center">
        <h2>Contactez-moi !</h2>
        <p class="mt-2">Pour craquer sur une des pièces Ômanette ou simplement me contacter, voici le petit formulaire magique... </p>
      </div>
      <%= render 'contact_form' %>
    </div>

  <div class= "col-md-6" class="concept-photo" >
    <%= image_tag "https://res.cloudinary.com/djuy4uxrd/image/upload/v1586167133/silhouette_voeyec.jpg", class:'h-100' %>
  </div>

  </div>
</div>
