<div class = "row d-flex justify-content-center">
  <div class="col-8">
    <div id="contact">
      <div>
        <h1>Contactez-moi !</h1>
        <p>Pour craquer sur une des pièces Ômanette ou simplement me contacter, voici le petit formulaire magique... </p>
      </div>
      <%= render 'contact_form' %>
    </div>
  </div>
</div>
