.carousel-item {
  overflow: hidden;
  height: 100%;
  width: 100%;

}

.carousel {
background-size: cover;
background-repeat: no-repeat;
height: 580px;
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }
}

.carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  }

.carousel-article {
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 24px;

}
