
.card-carousel {
  height: 100%;
  background: white;
  display: flex;
  padding: 16px;
  overflow: hidden;
}

.card-carousel h3 {
  font-size: 16px;
   margin-top: 8px;
}

.card-carousel h4 {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.carousel-item {
  overflow: hidden;
}

.carousel-article{
  padding: 15px 80px;
}

.carousel .home {
background-size: cover;
background-repeat: no-repeat;
height: 580px;

}

.carousel .article {
background-size: cover;
background-repeat: no-repeat;
height: 450px;
width: 100%;
position: sticky;
top: 0;
padding: 15px 0px;
}

.carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: 20% 0px;

}


.carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  }


/*navigation avec images miniatures*/


.navigation_diapo{
  display: flex; /*permet d'aligner les photos les unes à la suite des autres, on peut aussi utiliser le positionnement absolu*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  justify-content: center;

  }

.navigation_diapo li {
  padding: .25rem;
  }

.navigation_diapo img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  object-position: 20% 0px;
  }

@media (max-width: 768px) {
  .carousel .home {
    height: 300px;
  }
  .carousel .article {
    height: 250px;
  }
  .navigation_diapo {
    display: none;
  }
}
