
.contact-form-text-area {
  color: black;
  margin-bottom: 8px;
  width: 100%;
  padding: 5px;
}

.card-contact{
  overflow: hidden;
  background: white;
  display: flex;
  padding: 16px;
}

.card-contact p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-contact img {
  padding: 50px 24px;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hidden { display: none; }
