<div class="mt-3">
<%= simple_form_for(@categorie) do |f| %>
  <%= f.input :name, label: false, placeholder: "Nom" %>
  <%= f.input :photo, as: :file, label: false, placeholder: "photo" %>
  <%= f.submit 'Modifier', class: "btn btn-primary text-center" %>
<% end %>
</div>


